.cutom-grub{
    /* display: none !important; */
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 5rem 0;
}


.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.site-content{
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.row-cu{
    display: flex;
    justify-content: center;
}
